:root {
  --background-color: rgb(30, 30, 30);
  --section-background-color: rgb(40, 40, 40);
  --highlights: rgb(22, 177, 181);
  --text: rgb(230, 230, 230);
  --burgandy-buttons: rgb(40, 0, 0);
  --project-name-font-size-2rem: 2rem;
  --project-name-font-family: Arial, Helvetica, sans-serif;
  --text-decoration-underline-dashed: underline dashed;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

a {
  color: var(--text);
  font-family: sans-serif;
  font-size: 18px;
}

p {
  color: var(--text);
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  color: var(--highlights);
  text-decoration: var(--text-decoration-underline-dashed);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}

#fixed-nav {
  background-color: var(--section-background-color);
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  bottom: 100px;
  z-index: 5;
  border-bottom: dashed 2px var(--highlights);
}

.fix-nav-container {
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 1080px;
}

.initials-container {
  width: 200px;
}

.initials-container img {
  height: 80px;
  width: 100%;
}

#initials {
  position: relative;
}

.nav-container {
  display: flex;
  line-height: 80px;
  width: 80%;
}

.nav-cont-button {
  margin: 0 50px;
}

.nav-cont-button a {
  transition: color 0.3s;
  text-decoration: none;
}

.nav-cont-button a:hover {
  color: var(--highlights);
  cursor: pointer;
}

.dropdown-menu-container {
  background-color: var(--section-background-color);
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 1px;
  margin-left: -85px;
  max-width: auto;
  z-index: 10;
  line-height: 20px;
}

.dropdown-menu-container a {
  margin: 0.3rem 0.5rem 0.3rem 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: dashed 1px var(--highlights);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.dropdown-menu-container a:hover {
  border: dashed 1px var(--text);
}

.nav-cont-button:hover .dropdown-menu-container,
.nav-cont-button:focus .dropdown-menu-container {
  max-height: 380px;
}

.fixed-socials {
  max-width: 40px;
  display: block;
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 5;
}

.fixed-socials a {
  max-width: 40px;
}

.fixed-socials img {
  background-color: var(--section-background-color);
  border-radius: 10px;
  max-width: 40px;
  transition: scale 0.1s ease-in-out;
}

.fixed-socials img:hover {
  scale: 1.1;
}

header {
  background-image: url("../images/headerbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-container {
  max-width: 1080px;
  margin-top: 80px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.header-container h1 {
  color: var(--highlights);
  font-size: 80px;
  text-align: center;
  text-decoration: none;
}

.header-container p {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 50px;
}

.header-buttons {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  margin-bottom: 50px;
}

.header-button {
  background-color: var(--burgandy-buttons);
  margin: 5px;
  border-radius: 5px;
  padding: 15px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.header-button:hover {
  background-color: var(--highlights);
  cursor: pointer;
}

#about-me {
  position: relative;
  top: -70px;
}

.about-me-container-bg {
  background-color: var(--section-background-color);
  padding: 40px;
}

.about-me-container {
  display: flex;
  max-width: 1080px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.about-me-left {
  width: 50%;
}

.about-me-text {
  padding-left: 20px;
}

.about-me-text h2 {
  color: var(--highlights);
  font-size: var(--project-name-font-size-2rem);
  text-decoration: var(--text-decoration-underline-dashed);
}

.about-me-right {
  width: 50%;
}

.about-me-right h2 {
  color: var(--highlights);
  font-size: var(--project-name-font-size-2rem);
  text-decoration: var(--text-decoration-underline-dashed);
}

#most-used-languages {
  display: flex;
  justify-content: center;
}

#most-used-languages img {
  width: 15%;
  padding: 15px;
}

#skeleton-languages-table {
  background: linear-gradient(
    to right,
    var(--background-color),
    rgba(22, 177, 181, 0.2),
    var(--background-color)
  );
  background-size: 200%;
  display: flex;
  flex-direction: column;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
  animation: skeleton-background-position-animation 1.5s ease-in-out infinite;
}

@keyframes skeleton-background-position-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.skeleton-languages-background {
  background-color: var(--burgandy-buttons);
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 2px var(--background-color);
  animation: skeleton-pulse-animation 500ms linear infinite;
}

@keyframes skeleton-pulse-animation {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 20%;
  }
}

.skeleton-languages-header-text {
  color: var(--highlights);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.skeleton-languages-procentage-text {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

.skeleton-languages-text {
  color: var(--highlights);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding-top: 0.3rem;
}

#languages-table {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.languages-background {
  background-color: var(--burgandy-buttons);
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 2px var(--background-color);
}

.languages-header-text {
  color: var(--highlights);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.languages-procentage-text {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

.languages-text {
  color: var(--highlights);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding-top: 0.3rem;
}

#error-languages-table {
  background-color: var(--background-color);
  display: none;
  flex-direction: column;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.error-languages-header-text {
  color: var(--highlights);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.error-languages-text {
  color: var(--highlights);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding-top: 0.3rem;
}

#projects-title {
  max-width: 1080px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

#projects-title h2 {
  color: var(--highlights);
  font-size: var(--project-name-font-size-2rem);
  text-decoration: var(--text-decoration-underline-dashed);
}

.projects {
  max-width: 1080px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card {
  width: 45%;
  transition: all 0.3s ease;
  border-radius: 30px;
  overflow: hidden;
}

.small-project-card {
  width: 40%;
}

.large-project-card {
  width: 50%;
}

.image-container {
  overflow: hidden;
  border-radius: 30px;
  border: dashed 2px var(--highlights);
}

.image-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.card:hover .image-container img {
  transform: scale(1.2);
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content a {
  color: var(--highlights);
  text-decoration: var(--text-decoration-underline-dashed);
  font-size: var(--project-name-font-size-2rem);
  font-family: var(--project-name-font-family);
  transition: color 0.3s ease;
}

.card-content a:hover {
  color: var(--text);
}

.more-projects-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.more-projects-button a {
  display: inline-block;
  padding: 0px 40px;
  margin: 40px;
  background-color: var(--burgandy-buttons);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
}

.more-projects-button a:hover {
  background-color: var(--highlights);
}

/* Footer section */
footer {
  background-color: var(--section-background-color);
}

.footer-container {
  max-width: 1080px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-info,
.social-media {
  flex: 1;
  padding: 0 20px;
}

.contact-info h3,
.social-media h3 {
  color: var(--highlights);
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media ul li {
  margin-bottom: 10px;
}

.social-media ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-media ul li a:hover {
  color: var(--highlights);
}

.destination {
  max-width: 1080px;
  margin-top: 100px;
  padding-left: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.destination a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.destination span {
  color: var(--text);
}

.destination a:hover {
  color: var(--highlights);
}

.destination a:last-child {
  color: var(--highlights);
}

/* Project page */

section {
  background-color: var(--section-background-color);
  margin-top: 20px;
}

.project-container {
  max-width: 1080px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.project-container h2 {
  padding-top: 20px;
  padding-left: 10px;
  color: var(--highlights);
  font-size: var(--project-name-font-size-2rem);
  text-decoration: var(--text-decoration-underline-dashed);
}

.project-content {
  display: flex;
  flex-wrap: wrap;
}

.project-info {
  width: 50%;
}

.project-info p {
  margin: 20px;
}

#tech-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.tag {
  padding: 10px;
}

.tag p {
  text-align: center;
}

#tech-tags img {
  display: block;
  max-width: 100px;
  max-height: 100px;
}

.project-links {
  max-width: 1080px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-top: 2px dashed var(--highlights);
}

.project-links h2 {
  margin-left: 10px;
  color: var(--highlights);
  font-size: var(--project-name-font-size-2rem);
  text-decoration: var(--text-decoration-underline-dashed);
}

#project-links-list {
  display: flex;
  flex-wrap: wrap;
}

#project-links-list ul {
  padding: 10px 50px 10px 50px;
  border-right: 1px solid var(--highlights);
}

#project-links-list a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#project-links-list a:hover {
  color: var(--highlights);
}

.project-slideshow-container {
  max-width: 1080px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 60px;
}

.my-slide-image {
  display: none;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  max-width: 85%;
  border: dashed 2px var(--highlights);
}

.my-slide-image.active {
  display: flex;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.slideshow-button {
  background-color: var(--highlights);
  color: var(--text);
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
  transition: scale 0.1s ease-in-out;
  z-index: 5;
}

.next-btn {
  right: 10px;
  transition: scale 0.1s ease-in-out;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  z-index: 5;
}

.prev-btn:hover {
  scale: 1.1;
}

.next-btn:hover {
  scale: 1.1;
}

.prev-btn img {
  height: 20px;
  margin-top: 3px;
}

.next-btn img {
  height: 20px;
  margin-top: 4px;
}

#project-next-prev-container {
  max-width: 1080px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#project-next-prev-container a {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px dashed var(--highlights);
  transition: color 0.3s ease, border 0.3s ease;
}

#project-next-prev-container a:hover {
  color: #16b1b5;
  border: 1px dashed var(--text);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--highlights);
}

/* Mobile version */

@media (max-width: 767px) {
  #fixed-nav {
    background-color: var(--section-background-color);
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    bottom: 100px;
    z-index: 5;
    border-bottom: dashed 2px var(--highlights);
  }

  .fix-nav-container {
    display: none;
  }

  .mob-fix-nav-container {
    display: flex;
    justify-content: space-between;
  }

  .mob-initials-container {
    height: 50px;
  }

  #mob-initials {
    height: inherit;
  }

  #mob-initials a {
    height: inherit;
  }

  #mob-initials a img {
    height: inherit;
  }

  .mob-nav-container {
    margin: 10px;
    height: 30px;
    width: 30px;
    border: dashed 1px var(--highlights);
  }

  .mob-nav-button:hover {
    cursor: pointer;
  }

  .mob-nav-line:nth-child(1).line {
    transform-origin: bottom left;
    transform: rotate(40deg);
    width: 25px;
  }

  .mob-nav-line:nth-child(2).line {
    width: 0px;
  }

  .mob-nav-line:nth-child(3).line {
    transform-origin: top left;
    transform: rotate(-40deg);
    width: 25px;
  }

  .mob-nav-line {
    background-color: var(--highlights);
    margin: 5px;
    height: 3px;
    width: 70%;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out,
      transform-origin 0.3s ease-in-out;
  }

  .mob-dropdown-menu-container {
    background-color: var(--section-background-color);
    display: flex;
    flex-direction: column;
    max-height: 0;
    position: absolute;
    left: 0;
    overflow: hidden;
    margin-top: 12px;
    width: 100%;
    z-index: 10;
    line-height: 20px;
    transition: max-height 0.5s ease-in-out;
  }

  .mob-dropdown-menu-container.open {
    max-height: 400px;
  }

  .mob-nav-cont-button {
    text-align: center;
    padding: 5px 0px 5px 0px;
    border: dashed 1px var(--highlights);
    margin: 5px;
  }

  .mob-nav-cont-button a {
    padding: 5px 140px 5px 140px;
    text-decoration: none;
    text-align: center;
    transition: border 0.3s ease, color 0.3s ease;
  }

  .mob-nav-cont-button:hover {
    border: dashed 1px var(--text);
    color: var(--highlights);
  }

  .mob-sub-dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    position: relative;
    max-height: 0px;
    transition: max-height 0.5s ease;
  }

  .mob-sub-dropdown-menu.open {
    max-height: 600px;
  }

  .mob-sub-dropdown-menu a {
    margin: 5px 50px 5px 50px;
    padding: 5px 20px 5px 20px;
    border: dashed 1px var(--highlights);
    text-decoration: none;
    text-align: center;
    transition: border 0.3s ease, color 0.3s ease;
    width: 100%;
  }

  .mob-sub-dropdown-menu a:hover {
    border: dashed 1px var(--text);
    color: var(--highlights);
  }

  #mob-projects-button:hover {
    cursor: pointer;
  }

  .mob-arrow {
    position: absolute;
    left: 62%;
  }

  .mob-arrow-line:nth-child(1) {
    background-color: var(--text);
    position: absolute;
    top: -12px;
    width: 10px;
    height: 2px;
    transform: rotate(135deg);
    transition: transform 0.3s ease;
  }

  .mob-arrow-line:nth-child(2) {
    background-color: var(--text);
    position: absolute;
    top: -12px;
    left: 6px;
    width: 10px;
    height: 2px;
    transform: rotate(-135deg);
    transition: transform 0.3s ease;
  }

  .mob-arrow-line:nth-child(1).open {
    transform: rotate(45deg);
  }

  .mob-arrow-line:nth-child(2).open {
    transform: rotate(-45deg);
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
  }

  .mob-header-container {
    width: 100%;
  }

  .mob-header-right {
    width: 100%;
  }

  .mob-header-right img {
    max-height: 500px;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .mob-header {
    width: 100%;
  }

  .mob-header h1 {
    text-align: center;
    text-decoration: none;
    font-size: 40px;
  }

  .mob-header p {
    padding: 0px 50px 50px 50px;
  }

  .about-me-container {
    display: flex;
    flex-wrap: wrap;
  }

  .about-me-left {
    width: 100%;
  }

  .about-me-right {
    width: 100%;
  }

  .project-info {
    width: 100%;
  }

  #tech-tags {
    width: 100%;
  }

  .fixed-socials {
    top: 70%;
  }

  .small-project-card {
    width: 100%;
  }

  .large-project-card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .mob-fix-nav-container {
    display: none;
  }

  .mobile-header {
    display: none;
  }
}
